#set($noshowList = ['id','createBy','createTime','modifyBy','modifyTime','fField1','fField2','fField3','fField4','fField5','fField6'])

<!doctype html>
<html lang="en">
<head>
    <@mc.ltheader type="list" title="$!{table.comment}"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            	<form role="form" class="form-inline query-form">
            		<div class="input-group">
                        <input type="text" class="form-control" id="queryKeyword" placeholder="关键字"/>
                        <span class="input-group-btn">
	                        <button type="button" class="btn btn-primary" onclick="refreshTable()"><i class="fa fa-search"></i>查询</button>
	                    </span>
                    </div>
                </form>
            	<@shiro.hasPermission name="func${entity}-btnAdd">
	                <div id="tableToolbar" role="group" class="t-bar">
	                    <a class="btn btn-primary" title="添加" onclick="add()">
	                        <i class="fa fa-plus" aria-hidden="true"></i>添加
	                    </a>
	                </div>
                </@shiro.hasPermission>
                <table id="dataTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<@mc.ltfooter  type="list">
    <script type="text/javascript">
        // 本功能所有请求的根路径
        var prefix = '${rc.contextPath}/${cfg.moduleCode}/${table.entityPath}';

        $(function () {
            initQuery();
            initTable();
        });

        // 初始化查询条件
        function initQuery() {
        }

        // 初始化查询列表
        function initTable() {
            lt.dataTable.init("#dataTable", {
                url: prefix + "/page",
                showRefresh: true,
                search: false,
                toolbar: '#tableToolbar',            //工具按钮用哪个容器
                pagination: true,                    //是否显示分页（*）
                queryParams: function (params) {
                    params.keyword = $('#queryKeyword').val();
                    return params;
                },
                columns: [
                    #foreach($field in ${table.fields})
                    #if(!$noshowList.contains( $field.propertyName))
                    #if($field.propertyName == "name")
                   {
                        title: '${field.comment}', field: '${field.propertyName}', width: 150,
                        formatter: function (value, row, index) {
                            return '<a onclick="view(\'' + row.id + '\')">' + value + '</a>';
                        }
                    },
                    #else
                    {title: '${field.comment}', field: '${field.propertyName}'},
                    #end
                    #end
                    #end
                   	{
                        title: "操作", field: "id", align: 'center', width: 100,
                        formatter: function (value, row) {
                            var e = '<@shiro.hasPermission name="func${entity}-btnEdit"><a class="btn btn-success btn-xs m-r-xs" onclick="edit(\'' + value + '\');return false;"><i class="fa fa-edit"></i>编辑</a></@shiro.hasPermission>';
                            var d = '<@shiro.hasPermission name="func${entity}-btnDelete"><a class="btn btn-danger btn-xs m-r-xs" onclick="del(\'' + value + '\');return false;"><i class="fa fa-remove"></i>删除</a></@shiro.hasPermission>';
                            return e + d;
                        }
                    }
                ]
            });
        }

        // 刷新查询列表
        function refreshTable() {
            $('#dataTable').bootstrapTable("refresh");
        }

        // 详情查看
        function view(id) {
            lt.open("$!{table.comment}详情", prefix + "/view/" + id);
        }

        // 添加$!{table.comment}
        function add() {
            lt.open("添加$!{table.comment}", prefix + "/form", {
                end: function () {
                    refreshTable();
                }
            });
        }

        // 修改$!{table.comment}
        function edit(id) {
            lt.open("修改$!{table.comment}", prefix + "/form/" + id, {
                end: function () {
                    refreshTable();
                }
            });
        }

        // 删除的代码
        function del(id) {
	    	lt.confirm("确定要删除选中数据？", function () {
	        	$.post(prefix + '/delete', {id: id}, function (res) {
                	if (res.code == 200) {
	                    lt.alertSuccess(res.msg, function () {
	                        refreshTable();
	                    });
                    } else {
                       lt.alertError(res.msg);
                    }
               });
           });
        }

    </script>
</@mc.ltfooter>
</body>
</html>