#set($noshowList = ['id','createBy','createTime','modifyBy','modifyTime'])
#set($varStart = '${')

<!doctype html>
<html lang="en">
<head>
    <@mc.ltheader type="view" title="$!{table.comment}详情" />
</head>
<body class="bg-white">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="dataForm" role="view" class="form-horizontal m-t">
            <input name="id" id="id" value="${varStart}data.id!''}" type="hidden"/>
            #foreach($field in ${table.fields})
            #if(!$noshowList.contains( $field.propertyName))
            <div class="form-group">
                <label class="col-sm-2 control-label">${field.comment}</label>
                <div class="col-sm-10">
                    <input id="${field.propertyName}" name="${field.propertyName}" value="${varStart}data.${field.propertyName}}" type="text" class="form-control" readonly/>
                </div>
            </div>
            #end
            #end

            <div class="form-group">
                <label class="col-sm-2 control-label">创建人</label>
                <div class="col-sm-4">
                    <input id="createBy" name="createBy" value="${data.createBy}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">创建时间</label>
                <div class="col-sm-4">
                    <input id="createTime" name="createTime" value="${(data.createTime?string('yyyy-MM-dd HH:mm:ss'))!''}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">修改人</label>
                <div class="col-sm-4">
                    <input id="modifyBy" name="modifyBy" value="${data.modifyBy}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">修改时间</label>
                <div class="col-sm-4">
                    <input id="modifyTime" name="modifyTime" value="${(data.modifyTime?string('yyyy-MM-dd HH:mm:ss'))!''}" type="text" class="form-control" readonly/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<@mc.ltfooter  type="view">
    <script type="text/javascript">
        $(function () {
        });
    </script>
</@mc.ltfooter>
</html>