#set($noshowList = ['fId','fCreateuserid','fCreatetime','fLastmodifyuserid','fLastmodifytime'])
#set($varStart = '${')

<!doctype html>
<html lang="en">
<head>
    <@mc.ltheader type="view" title="$!{table.comment}详情" />
</head>
<body class="bg-white">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form id="dataForm" role="view" class="form-horizontal m-t">
            <input name="fId" id="fId" value="${varStart}data.fId!''}" type="hidden"/>
            #foreach($field in ${table.fields})
            #if(!$noshowList.contains( $field.propertyName))
            <div class="form-group">
                <label class="col-sm-2 control-label">${field.comment}</label>
                <div class="col-sm-10">
                    <input id="${field.propertyName}" name="${field.propertyName}" value="${varStart}data.${field.propertyName}}" type="text" class="form-control" readonly/>
                </div>
            </div>
            #end
            #end

            <div class="form-group">
                <label class="col-sm-2 control-label">创建人</label>
                <div class="col-sm-4">
                    <input id="fCreateuserid" name="fCreateuserid" value="${data.fCreateuserid}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">创建时间</label>
                <div class="col-sm-4">
                    <input id="fCreatetime" name="fCreatetime" value="${(data.fCreatetime?string('yyyy-MM-dd HH:mm:ss'))!''}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">修改人</label>
                <div class="col-sm-4">
                    <input id="fLastmodifyuserid" name="fLastmodifyuserid" value="${data.fLastmodifyuserid}" type="text" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">修改时间</label>
                <div class="col-sm-4">
                    <input id="fLastmodifytime" name="fLastmodifytime" value="${(data.fLastmodifytime?string('yyyy-MM-dd HH:mm:ss'))!''}" type="text" class="form-control" readonly/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<@mc.ltfooter  type="view">
    <script type="text/javascript">
        $(function () {
        });
    </script>
</@mc.ltfooter>
</html>