<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysAccesstokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.SysAccesstoken">
        <id column="id" property="id"/>
        <result column="client_type" property="clientType"/>
        <result column="user_id" property="userId"/>
        <result column="token" property="token"/>
        <result column="refresh_token" property="refreshToken"/>
        <result column="client_mcode" property="clientMcode"/>
        <result column="client_ip" property="clientIp"/>
        <result column="client_mac" property="clientMac"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="enable_time" property="enableTime"/>
        <result column="enable_refresh_time" property="enableRefreshTime"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_type, user_id, token, refresh_token, client_mcode, client_ip, client_mac, create_time, modify_time, enable_time, enable_refresh_time, enable_flag, remark
    </sql>

    <select id="selectPage" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        sat.id,
        su.account as user_id,
        sat.client_mcode,
        sat.client_ip,
        sat.client_mac,
        sat.enable_flag
        FROM Sys_AccessToken sat
        LEFT JOIN Sys_User su ON sat.user_id=su.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
