<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysConfigsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.SysConfigs">
        <id column="id" property="id" />
        <result column="groups" property="groups" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="value" property="value" />
        <result column="value_type" property="valueType" />
        <result column="description" property="description" />
        <result column="remark" property="remark" />
        <result column="sort_num" property="sortNum" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, groups, name, code, value, value_type, description, remark, sort_num, modify_by, modify_time
    </sql>

</mapper>
