<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.system.SysLogs">
        <id column="id" property="id" />
        <result column="system_code" property="systemCode" />
        <result column="module" property="module" />
        <result column="opt_type" property="optType" />
        <result column="opt_content" property="optContent" />
        <result column="ip_addr" property="ipAddr" />
        <result column="ip_city" property="ipCity" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_code, module, opt_type, opt_content, ip_addr, ip_city, create_by, create_time
    </sql>

</mapper>
