<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.system.SysMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="layers" property="layers"/>
        <result column="system_code" property="systemCode"/>
        <result column="type" property="type"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="sort_num" property="sortNum"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, layers, system_code, type, code, name, icon, url, sort_num, remark, create_by, create_time, modify_by, modify_time
    </sql>

    <!-- 获取当前用户的权限信息,登陆验证使用 -->
    <select id="userMenus" resultMap="BaseResultMap">
        select m.* from Sys_Menu m
        inner join Sys_RoleMenu rm on m.id = rm.menu_id
        inner join Sys_Role r on r.id = rm.role_id
        inner join Sys_UserRole ur on r.id = ur.role_id
        <where>
            <if test="userId!=null and userId!=''">ur.user_id = #{userId}</if>
            <if test="systemCode!=null and systemCode!=''">and m.system_code = #{systemCode}</if>
            <if test="menuTypes!=null">
                and m.type in
                <foreach item="type" collection="menuTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
        order by m.sort_num ASC
    </select>

    <!-- 获取用户所有权限的方法，主要是对编码根据级别进行了组合。 -->
    <select id="userPrivileges" parameterType="string" resultMap="BaseResultMap">
        select
        m.id, m.parent_id, m.layers, m.system_code, m.type,
        case when m.type=3 then concat(mf.code,'-',m.code) else m.code end as code,
        m.name, m.icon, m.url, m.sort_num
        from Sys_Menu m
        left join Sys_Menu mf on m.parent_id = mf.id and mf.type=2
        inner join Sys_RoleMenu rm on m.id = rm.menu_id
        inner join Sys_Role r on r.id = rm.role_id
        inner join Sys_UserRole ur on r.id = ur.role_id
        where ur.user_id = #{userId} and m.system_code = #{systemCode}
        order by m.sort_num ASC
    </select>
</mapper>
