<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.SysMenu">
        <id column="f_id" property="fId"/>
        <result column="f_parentId" property="fParentid"/>
        <result column="f_layers" property="fLayers"/>
        <result column="f_systemCode" property="fSystemcode"/>
        <result column="f_type" property="fType"/>
        <result column="f_code" property="fCode"/>
        <result column="f_name" property="fName"/>
        <result column="f_icon" property="fIcon"/>
        <result column="f_url" property="fUrl"/>
        <result column="f_sortNum" property="fSortnum"/>
        <result column="f_remark" property="fRemark"/>
        <result column="f_createBy" property="fCreateby"/>
        <result column="f_createTime" property="fCreatetime"/>
        <result column="f_modifyBy" property="fModifyby"/>
        <result column="f_modifyTime" property="fModifytime"/>
        <result column="f_field1" property="fField1"/>
        <result column="f_field2" property="fField2"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        f_id, f_parentId, f_layers, f_systemCode, f_type, f_code, f_name, f_icon, f_url, f_sortNum, f_remark, f_createBy, f_createTime, f_modifyBy, f_modifyTime, f_field1, f_field2
    </sql>

    <!-- 获取当前用户的权限信息,登陆验证使用 -->
    <select id="userMenus" resultMap="BaseResultMap">
        select m.* from Sys_Menu m
        inner join Sys_RoleMenu rm on m.F_Id = rm.F_MenuId
        inner join Sys_Role r on r.F_Id = rm.F_RoleId
        inner join Sys_UserRole ur on r.F_Id = ur.F_RoleId
        <where>
            <if test="userId!=null and userId!=''">ur.F_UserId = #{userId}</if>
            <if test="systemCode!=null and systemCode!=''">and m.F_SystemCode = #{systemCode}</if>
            <if test="menuTypes!=null">
                and m.F_Type in
                <foreach item="type" collection="menuTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
        order by m.F_SortNum ASC
    </select>

    <!-- 获取用户所有权限的方法，主要是对编码根据级别进行了组合。 -->
    <select id="userPrivileges" parameterType="string" resultMap="BaseResultMap">
        select
        m.f_id, m.f_parentId, m.f_layers, m.f_systemCode, m.f_type,
        case when m.f_type=3 then concat(mf.f_code,'-',m.f_code) else m.f_code end as f_code,
        m.f_name, m.f_icon, m.f_url, m.f_sortNum
        from Sys_Menu m
        left join Sys_Menu mf on m.f_parentId = mf.f_id and mf.f_type=2
        inner join Sys_RoleMenu rm on m.f_id = rm.f_menuId
        inner join Sys_Role r on r.f_id = rm.f_roleId
        inner join Sys_UserRole ur on r.f_id = ur.f_roleId
        where ur.f_userId = #{userId} and m.f_systemCode = #{systemCode}
        order by m.f_sortNum ASC
    </select>
</mapper>
