<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.SysSystem">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="version" property="version" />
        <result column="secret" property="secret" />
        <result column="dev_org" property="devOrg" />
        <result column="dev_time" property="devTime" />
        <result column="enable_flag" property="enableFlag" />
        <result column="enable_delete" property="enableDelete" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, type, version, secret, dev_org, dev_time, enable_flag, enable_delete, remark, create_by, create_time, modify_by, modify_time
    </sql>

</mapper>
