<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.litu.app.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.litu.app.entity.SysUser">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="real_name" property="realName"/>
        <result column="nick_name" property="nickName"/>
        <result column="photo" property="photo"/>
        <result column="sex" property="sex"/>
        <result column="wechat" property="wechat"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="birthday" property="birthday"/>
        <result column="dept_id" property="deptId"/>
        <result column="role_id" property="roleId"/>
        <result column="sort_num" property="sortNum"/>
        <result column="enable_delete" property="enableDelete"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="delete_by" property="deleteBy"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, real_name, nick_name, photo, sex, wechat, phone, email, birthday, dept_id, role_id, sort_num, enable_delete, remark, create_by, create_time, modify_by, modify_time, delete_flag, delete_by, delete_time
    </sql>
</mapper>
